@mixin before_circle {
    &::before {
        width: 36px;
        height: 36px;
        background: $mainColor;
        content: '';
        display: block;
        border-radius: 100%;
        position: absolute;
        z-index: -1;
        left: 0;
        top: -25%;
    }
}