.hamburger {
    width: 36px;
    height: 21px;
    position: fixed;
    top: 20px;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    cursor: pointer;
    &__line {
        width: 30px;
        height: 3px;
        background: #151812;
        &_long {
            width: 36px;
        }
    }
}