.title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 0;
    &_large {
        font-size: 48px;
        line-height: 60px;
        margin-top: 9px;
    }
    &_medium {
        font-size: 36px;
        line-height: 60px;
        &-center {
            margin-top: 6px;
            text-align: center;
        }
    }
    &_circle {
        padding-left: 10px;
        position: relative;
        z-index: 1;
        @include before_circle;
    }
    &_small {
        font-size: 14px;
        line-height: 21px;
        &::before {
            top: -8px;
        }
    }
    &_center {
        text-align: center;
        padding-left: 0;
        &::before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}